<div>
    <h1>Add New Product</h1>
    <form action="" class="bg-light">
        <input formControlName="id" type="text" class="form-control mt-3 p-2" placeholder="product id" name="id" >
        <input  formControlName="productName" type="text" class="form-control mt-3 p-2">
        <input  formControlName="categoryId"  formControlName="" type="text" class="form-control mt-3 p-2">
        <input  formControlName="description" type="text" class="form-control mt-3 p-2">
        <input  formControlName="price" type="text" class="form-control mt-3 p-2">
        <input  formControlName="is_Available" type="text" class="form-control mt-3 p-2">
        <input  formControlName="productImage" type="text" class="form-control mt-3 p-2">
        <input  formControlName="rating" type="text" class="form-control mt-3 p-2">
        <input  formControlName="review" type="text" class="form-control mt-3 p-2">
        <input  formControlName="vendorName" type="text" class="form-control mt-3 p-2">
        <input  formControlName="warranty" type="text" class="form-control mt-3 p-2">
        <button  class="btn btn-secondary">Add</button>
    </form>
</div>